{{#if isSecondary}}
    <ul class="nav">
        {{#foreach navigation}}
            <li class="nav-{{slug}}">
                <a href="{{url}}" class="social-link">
                    {{> (concat "icons/" slug)}}
                </a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
    <ul class="nav">
        {{#foreach navigation}}
            <li class="{{link_class for=(url) class=(concat "nav-" slug)}}">
                <a href="{{url absolute="true"}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
{{/if}}